
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
    <app-project-header></app-project-header>
  </mat-sidenav>

  <mat-sidenav-content>
      <p>
          projects works!
        </p>
        <div *ngFor="let p of projects">
          <div>{{p.Name}}||{{p.Details}}</div>
        </div>
            <!-- <p>
      <mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox>
    </p> -->
    <p>
      <button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button>
    </p>
    <p>Events:</p>
    <div class="example-events">
      <div *ngFor="let e of events">{{e}}</div>
    </div>
    <app-project-body></app-project-body>
  </mat-sidenav-content>
</mat-sidenav-container>
